body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.top {
  margin-top: 75px;
}

.trademark {
  background-color: black;
  color: white;
  text-align: center;
  padding: 1px;
  width: 100%;
}
