<footer class="info-footer">
    <div class="footer-boxes">
      <div class="footer-box">
        <h3>Talk To An Agent</h3>
        <p>Email</p>
        <p>Shipping</p>
        <p>Help & Advice</p>
      </div>
      <div class="footer-box">
        <h3>Find Us On</h3>
        <p class="social">
        </p>
      </div>
      <div class="footer-box">
        <h3>Newsletter</h3>
        <div>
          <input type="email" placeholder="Sign Up" class="email" />
          <button>sign up</button>
        </div>
      </div>
    </div>
</footer>